* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(74, 110, 146);
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:rgb(158, 186, 214) ;
}

main {
    flex: 1;
}

.cabecalho-link{
    color:rgb(155, 186, 218)
    text-decoration: none;
}

h1{
    color:rgb(177, 205, 214)
}
footer{
    background-color: rgb(134, 168, 202);
}